@model EHS_PORTAL.Areas.CLIP.Models.Monitoring

@{
    ViewBag.Title = "Monitoring Type Details";
}

<h1>Monitoring Type Details</h1>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-3 fw-bold">
                @Html.DisplayNameFor(model => model.MonitoringName)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.MonitoringName)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 fw-bold">
                @Html.DisplayNameFor(model => model.MonitoringCategory)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.MonitoringCategory)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 fw-bold">
                @Html.DisplayNameFor(model => model.MonitoringFreq)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.MonitoringFreq)
            </div>
        </div>

        <div class="mt-4">
            <a href="@Url.Action("Edit", "Monitoring", new { id = Model.MonitoringID })" class="btn btn-warning">
                <i class="bi bi-pencil-square"></i> Edit
            </a>
            <a href="@Url.Action("Index", "Monitoring")" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div> 