@model EHS_PORTAL.Areas.CLIP.Models.ActivityTrainingViewModel

@{
    ViewBag.Title = "Log Training Activity";
    Layout = "~/Areas/CLIP/Views/Shared/_Layout.cshtml";
}

<h1>Log Training Activity</h1>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        @using (Html.BeginForm("Create", "ActivityTraining", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                
                <div class="form-group row mb-3">
                    @Html.LabelFor(model => model.ActivityName, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ActivityName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ActivityName, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group row mb-3">
                    @Html.LabelFor(model => model.ActivityDate, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ActivityDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.ActivityDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group row mb-3">
                    @Html.LabelFor(model => model.DocumentFile, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="file" name="DocumentFile" id="DocumentFile" class="form-control file-upload" />
                            <span class="input-group-text" data-bs-toggle="tooltip" title="Upload supporting documents (certificates, presentations, etc.)">
                                <i class="bi bi-info-circle"></i>
                            </span>
                        </div>
                        <small class="form-text text-muted">Upload supporting documents (certificates, presentations, etc.)</small>
                    </div>
                </div>
                
                <div class="form-group row mb-3">
                    @Html.LabelFor(model => model.ATOM_CEP_Points, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        <div class="input-group">
                            @Html.EditorFor(model => model.ATOM_CEP_Points, new { htmlAttributes = new { @class = "form-control", min = "0", step = "1" } })
                            <span class="input-group-text" data-bs-toggle="tooltip" title="ATOM CEP Points gained from this activity">
                                <i class="bi bi-info-circle"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.ATOM_CEP_Points, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">ATOM CEP Points gained from this activity</small>
                    </div>
                </div>
                
                <div class="form-group row mb-3">
                    @Html.LabelFor(model => model.DOE_CPD_Points, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        <div class="input-group">
                            @Html.EditorFor(model => model.DOE_CPD_Points, new { htmlAttributes = new { @class = "form-control", min = "0", step = "1" } })
                            <span class="input-group-text" data-bs-toggle="tooltip" title="DOE CPD Points gained from this activity">
                                <i class="bi bi-info-circle"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.DOE_CPD_Points, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">DOE CPD Points gained from this activity</small>
                    </div>
                </div>
                
                <div class="form-group row mb-3">
                    @Html.LabelFor(model => model.DOSH_CEP_Points, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        <div class="input-group">
                            @Html.EditorFor(model => model.DOSH_CEP_Points, new { htmlAttributes = new { @class = "form-control", min = "0", step = "1" } })
                            <span class="input-group-text" data-bs-toggle="tooltip" title="DOSH CEP Points gained from this activity">
                                <i class="bi bi-info-circle"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.DOSH_CEP_Points, "", new { @class = "text-danger" })
                        <small class="form-text text-muted">DOSH CEP Points gained from this activity</small>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Save Activity
                        </button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
} 